.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #000000;
    max-width: 300px;
    min-width: 300px;
    width: 100%;
    max-height: 630px;
    min-height: 630px;
    height: 100%;
}

.card:hover {
    color: #ffffff;
    cursor: pointer;
}

.blockDescr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.blockImg {
    max-width: 300px;
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    max-height: 500px;
    min-height: 500px;
    height: 100%;

}

.cardImg {
    border-radius: 15px;
}

.title {

    font-size: 23px;
}

.year {
    font-size: 17px;
}