.header {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 20px;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.title {
    text-align: center;
    color: #888888;
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
}

.searchBlock {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 900px;
    min-width: 260px;
    width: 100%;
    padding: 10px;
}

.searchInput {
    padding: 10px;
    width: inherit;
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    outline: none;
}

.searchBtn {
    background-image: url('../../../public/assets/img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 50px;
    min-height: 50px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}