.MovieBlock {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    font-family: 'Segoe UI', sans-serif;
    max-height: 425px;
    min-height: 425px;
    width: 100%;
    height: 100%;
}

.left {
    max-width: 300px;
    min-width: 300px;
    max-height: 425px;
    min-height: 425px;
    width: 100%;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 900px;
    max-height: 425px;
    min-height: 425px;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.title {
    font-size: 60px;
}

.span {
    font-weight: 700;
}